{% extends 'base.html' %}
{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{# 页面标题 #}
{% block title %}
    {{ blog.title }}
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>分类：<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>发表日期：{{ blog.create_time|date:"Y-m-d H:i:s" }}</li>
                    <li>阅读({{ blog.get_read_num }})</li>
                </ul>
                <div class="blog-content">{{ blog.context|safe }}</div>
                <div class="blog-more">
                    {% if previous_blog %}
                        <p>上一篇：<a href="{% url 'blog_detail' previous_blog.id %}">{{ previous_blog.title }}</a></p>
                    {% else %}
                        <p>已经没有上一篇了</p>
                    {% endif %}

                    {% if next_blog %}
                        <p>下一篇：<a href="{% url 'blog_detail' next_blog.id %}">{{ next_blog.title }}</a></p>
                    {% else %}
                        <p>已经没有下一篇了</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论区域</h3>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'comment' %}" method="POST"
                              style="overflow:hidden">
                            <label>{{ user.username }}，欢迎评论~</label>
                            {% csrf_token %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger float-left"></span>
                        </form>
                        <input id="submitAdd" type="submit" value="评论" class="btn btn-primary float-right">
                    {% else %}
                        您尚未登录
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span>or</span>
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表区域</h3>
                    <div id="comment_list">
                        {% for comment in comments %}
                            <div>
                                用户：{{ user }}
                                ({{ comment.create_time |date:"Y-m-d H:i:s" }}):
                                {{ comment.content|safe }}
                            </div>
                        {% empty %}
                            <p>暂无评论</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $("#submitAdd").click(function () {
            // 判断是否为空
            $("#comment_error").text('');
            if (CKEDITOR.instances["id_comment"].document.getBody().getText().trim() === '') {
                $("#comment_error").text('评论内容不能为空');
                return false;
            }
            // 更新数据到textarea
            CKEDITOR.instances['id_comment'].updateElement();
            // 设置csrf token
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: "{{ csrf_token }}"}
            });
            // 异步提交
            $.ajax({
                url: "{% url 'comment' %}",
                type: 'POST',
                data: $("#comment_form").serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data['status'] == "SUCCESS") {
                        // 插入数据
                        const comment_html = '<div>' + data['username'] +
                            ' (' + data['comment_time'] + ')：' +
                            data['text'] + '</div>';
                        $("#comment_list").prepend(comment_html);
                        // 清空编辑框的内容
                        CKEDITOR.instances['id_comment'].setData('');
                    } else {
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
            return false;
        });
    </script>
{% endblock %}