{% extends 'base.html' %}
{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{# 页面标题 #}
{% block title %}
    {{ blog.title }}
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>分类：<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>发表日期：{{ blog.create_time|date:"Y-m-d H:n:s" }}</li>
                    <li>阅读({{ blog.get_read_num }})</li>
                </ul>
                <div class="blog-content">{{ blog.context|safe }}</div>
                <div class="blog-more">
                    {% if previous_blog %}
                        <p>上一篇：<a href="{% url 'blog_detail' previous_blog.id %}">{{ previous_blog.title }}</a></p>
                    {% else %}
                        <p>已经没有上一篇了</p>
                    {% endif %}

                    {% if next_blog %}
                        <p>下一篇：<a href="{% url 'blog_detail' next_blog.id %}">{{ next_blog.title }}</a></p>
                    {% else %}
                        <p>已经没有下一篇了</p>
                    {% endif %}
                </div>
                <div style="margin-top: 2em; margin-bottom: 2em">
                    <h3 style=" border-bottom: 1px solid #ccc;padding-bottom: 0.4em;">提交评论区域</h3>
                    {% if user.is_authenticated %}
                        欢迎{{ user.username }},请评论：
                        <form action="{% url 'comment' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="object_id" value="{{ blog.id }}">
                            <input type="hidden" name="content-type" value="blog">
                            <textarea name="comment"></textarea>
                            <button type="submit">提交</button>
                        </form>
                    {% else %}
                        您尚未登录
                        <a href="{% url 'login' %}">登录</a>
                        <span>or</span>
                        <a href="{% url 'register' %}">注册</a>
                    {% endif %}
                </div>
                <div style="margin-top: 2em; margin-bottom: 2em">
                    <h3 style=" border-bottom: 1px solid #ccc;padding-bottom: 0.4em;">评论列表区域</h3>
                        {% for comment in comments %}
                            <div>
                                用户：{{ user }}
                                ({{ comment.create_time }}):
                                {{ comment.content }}
                            </div>
                        {% empty %}
                            <p>暂无评论</p>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}