h3.home-content {
    font-size: 222%;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

div#main {
    margin: 0 auto;
    height: 300px;
    min-width: 200px;
    max-width: 400px;
}

div.hot{
    margin: 0 auto;
}